<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Usuarios Registrados</h2>
        </div>
        <div class="row clearfix">
            <div class="">
                <table class="table table-bordered">
                    <thead>
                        <tr class="encabe">
                            <td>Nombre</td>
                            <td>Correo</td>
                            <td>Fecha de nacimiento</td>
                            <td>Genero</td>
                            <td>Pais</td>
                            <td colspan="2">Acciones</td>
                        </tr>
                    </thead>

                    <tbody *ngIf="users">
                        <tr *ngFor="let user of users">
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.dateBirth| date: 'dd/MM/yyyy'}}</td>
                            <td>{{user.gender}}</td>
                            <td>{{user.country}}</td>
                            <td><button class="button button2" (click)="sendEdit(user)">Editar</button> | <button class="button button3" (click)="remove(user)">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="cerarS" style="float:right">
        <button class="button button4" (click)="logout()">Cerrar Sesión</button>
    </div>
</div>